


/*////////////////// Nav */

.btn {
    border-radius: 1.25rem;
}

.carousel-shim {
    margin-top: 56px;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}

.navbar-toggler-icon {
    display: none;
}

/*/ Carousel Responsive /*/

.carousel-inner {
    display: none !important;
}
/*//////////////// Colors */

.alert-warning {
    background-color: #ffe5bf;

}



/*//////////////// Spacing */

.alert {
    margin-bottom: 0rem;
}



/*//////////////// Typography */

body {
    font-family: 'Lato', sans-serif;
}

#carousel-sm {
        display: block !important;
    }


/*/////////////// Responsive Elements */
    .logo-sm {
            display: block !important;
        }
    .logo-md-lg {
        display: none !important;
    }
    
@media only screen and (min-width: 400px) {   
   #carousel-sm {display: none !important;} 
   #carousel-md {display: block !important;}

   .logo-md-lg {display: block !important;}
}
    .logo-sm {display: none !important;}

/*/ Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #carousel-sm {display: none !important;}
    #carousel-md {display: block !important;}
    
    /* #carousel-md {display: block;} */
}

/*/ Medium devices (tablets, 768px and up) */
@media (min-width: 768px)  {
    #carousel-md {display: block !important;}
        
}

/*/ Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #carousel-lg {display: block !important;}
    
}

/*/ Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #carousel-lg {display: block !important;}
}